@use "../settings" as setting;
@use "sass:map";

.c-footer {
  padding-right: clamp(
    clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
    setting.breakpoints(overs),
    clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
  );
  padding-left: clamp(
    clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
    setting.breakpoints(overs),
    clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
  );
  color: map.get(setting.$sys-light, surfaceContainerLowest);
}
